h1{
    font-size: 30px ;

}

.mainbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    margin-top: 5%;
}
/* resposive */

@media screen and (max-width: 600px) {
    .mainbody{
        flex-wrap: wrap;
        justify-content: space-around;
    }
}